html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 22px;
  height: 100%;
  font-family: Tahoma, sans-serif;
  color: #000000;
}

.no-scroll-body{
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1006px;
  width: 100%;
  margin: 0 auto;
  // height: 100%;
  // display: flex;
}

.section {
  min-height: 750px;
  height: 100vh;
}

a {
  color: inherit;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

.wrapper {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}
